body{
	padding: 20px;
	box-sizing: border-box;
	min-width: 1090px;
}
.layui-form-label{
	width:35px;
}
.layui-form-item .layui-inline{
	margin: 0;
}
.head{
  	height: auto;
    line-height: 60px;	
}
.head button{
	margin-left: 20px;
}
.content{
	width: 100%;
}
 .layui-table-cell {  
        height: auto;  
        line-height: 35px;  
    }  
.layui-btn-xs{
	padding: 0 30px;
}
/*新建弹窗model*/
.bg{
	width: 100%;height: 100%;
	background: rgba(0,0,0,0.1);
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.model{
	width: 400px;
	height: 400px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	display: none;
	
}
.change_model{
	height: 450px;
}
.model .head{
	padding: 0 15px;
	line-height: 50px;
	background:#1E9FFF;
	color: #fff;
}
.model .head span{
	float: right;
	cursor: pointer;
	width: 20px;
	text-align: center;
}
.model .cont{
	padding-top: 15px;
}
.model .layui-inline{
	width: 100%;
}
.model .layui-input-inline{
	width: 75%;
	margin-bottom: 15px;
}
.model .btn{
	text-align: center;
}
.model .btn .submits{
	width: 130px;
}
.change_model .btn .submits_change{
	width: 130px;
}
