.layui-form-label{
	width:35px;
}
.layui-form-item .layui-inline{
	margin: 0;
}
.head{
  	height: auto;
    line-height: 80px;	
}
.head button{
	margin-left: 50px;
}
.content{
	width: 90%;
	height: 500px;
	border: 1px solid red;
}
